<% provide(:title, "About") %>
<h1>About</h1>
<p>
  SHC-PMS is an information system that is intended for use in various clinics/ centres in Ireland. <br>
  The patient record can be accessed in any clinic/ centre all over the Ireland.
  Doctors use this system to keep track or their patients.
</p>