<footer class="footer">
  <small>
     Ruby on Rails Health Care App
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.irishhealth.com/" target="blank">News</a></li>
    </ul>
  </nav>
</footer>